
@keyframes fade {
    0% {
        opacity: 0;
        transform: translate(0, 2rem);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.navbar {
    position: fixed;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-links {
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(252, 244, 255);
    border-radius: 20px;
    padding: 6px 0px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    margin: 0px 10px;
}

.nav-links li a:hover {
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-div {
    min-height: calc(100vh - 20px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("background-img.jpg");
    background-size: cover;
}

.home-profile {
    display: flex;
    align-items: center;
}

.home-profile div {
    margin: 40px;
}

.home-img {
    margin: 40px;
    max-width: 40%;
}

.home-img img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    object-position: right;
}

.home-statement {
    border: solid red;
}

.home-statement p {
    text-align: left;
}

.about-div {
    width: 100%;
}

.about-fin {
    min-height: 100vh;
}

.about-dev {
    min-height: 100vh;
}

.projects-div {
    min-height: 100vh;
    width: 100%;
    border: solid blue;
}

.contact-div {
    min-height: 100vh;
    width: 100%;
    border: solid blue;
}

.in-view {
    animation: fade 1s 0.1s both;
}

.not-in-view {
    opacity: 0;
}