@keyframes fade {
    0% {
        opacity: 0;
        transform: translate(0, 2rem);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.navbar {
    position: fixed;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.nav-links {
    width: 60%;
    max-width: 1000px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color: #364E66;
    border-radius: 20px;
    padding: 6px 0px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    margin: 0px 10px;
}

.nav-links li a:hover {
    color: #B1CBE6;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-div {
    min-height: calc(100vh - 20px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("background-img.jpg");
    background-size: cover;
}

.home-title h1 {
    font-size: 80px;
}

.home-title p {
    font-size: 20px;
}

.home-profile {
    display: flex;
    align-items: center;
}

.home-profile div {
    margin: 40px;
}

.home-img {
    margin: 40px;
    max-width: 40%;
}

.home-img img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    object-position: right;
}


.about-div {
    width: calc(100% - 40px);
    padding: 20px;
    color: #364E66;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.about-div p {
    font-size: 20px;
    padding: 0px 20px;
    text-align: center;
}

h2 {
    font-size: 50px;
    background-color: #B0CBE6;
    width: 25%;
    text-align: center;
    padding: 5px 0px;
    color: #364E66;
}

.collage {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.collage img {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.projects-div {
    width: calc(100% - 40px);
    padding: 20px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.projects {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.projects div {
    margin: 10px;
    padding: 5px;
    width: 30%;
    height: 10%;
    background-color: #16283C;
    color: #B1CBE6;
}

.projects div img {
    width: 100%;
    max-height: 60%;
    object-fit: cover;
    aspect-ratio: 4 / 3;
}

.projects div h3 {
    padding-left: 5%;
}

.app-links {
    min-width: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.app-links a {
    background-color:#B1CBE6;
    margin: 5px 0px;
    margin-left: 5%;
    text-decoration: none;
    color: #364E66;
    text-align: center;
    padding: 4px;
}

.app-links a:hover {
    color: white;
}

.contact-div {
    width: calc(100% - 40px);
    padding: 20px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.socials-div a {
    margin: 10px;
}

.socials-div img {
    width: 5%;
    height: 5%;
    max-width: 100px;
}

.in-view {
    animation: fade 1s 0.1s both;
}

.not-in-view {
    opacity: 0;
}

@media screen and (max-width: 768px) {

    body {
        width: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .nav-bar {
        position: sticky;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 1000;
        padding: 10px 0px;
    }

    .nav-links {
        width: 80%;
    }

    .nav-links li a {
        font-size: 14px;
        white-space: nowrap;
    }

    .home-div {
        padding: 40px 20px;
        text-align: center;
        min-height: 100vh;
    }

    .home-profile {
        flex-direction: column;
        gap: 20px;
    }

    .home-title h1 {
        font-size: 42px;
    }

    .home-title p {
        font-size: 16px;
    }

    .home-img {
        max-width: 100%;
        margin: 0;
    }

    .home-img img {
        width: 220px;
        height: 220px;
    }

    h2 {
        width: 100%;
        font-size: 32px;
    }

    .projects {
        flex-direction: column;
        align-items: center;
    }

    .projects div {
        width: 90%;
    }

    .projects div img {
        aspect-ratio: 4 / 3;
    }

    .app-links {
        align-items: center;
    }

    .app-links a {
        width: 90%;
        margin-left: 0;
    }

    .socials-div img {
        width: 40px;
        height: 40px;
    }

}