body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.navbar {
    position: fixed;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-links {
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color: #e4b9e3;
    border-radius: 20px;
    padding: 6px 0px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    margin: 0px 10px;
}

.nav-links li a:hover {
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-div {
    min-height: calc(100vh - 20px);
    width: 100%;
    border: solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-profile {
    display: flex;
    align-items: center;
    border: solid red;
}

.home-profile div {
    margin: 20px;
}

.home-profile img {
    border: solid green;
    border-radius: 50%;
    margin: 20px;
}

.home-statement {
    border: solid red;
}

.home-statement p {
    text-align: left;
}

.about-div {
    min-height: calc(100vh - 60px);
    width: 100%;
    border: solid blue;
}

.projects-div {
    min-height: calc(100vh - 60px);
    width: 100%;
    border: solid blue;
}

.contact-div {
    min-height: calc(100vh - 60px);
    width: 100%;
    border: solid blue;
}

