
@keyframes fade {
    0% {
        opacity: 0;
        transform: translate(0, 2rem);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.navbar {
    position: fixed;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
     z-index: 1000;
}

.nav-links {
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color: #657B91;
    border-radius: 20px;
    padding: 6px 0px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    margin: 0px 10px;
}

.nav-links li a:hover {
    color: #B1CBE6;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-div {
    min-height: calc(100vh - 20px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("background-img.jpg");
    background-size: cover;
}

.home-title h1 {
    font-size: 80px;
}

.home-title p {
    font-size: 20px;
}

.home-profile {
    display: flex;
    align-items: center;
}

.home-profile div {
    margin: 40px;
}

.home-img {
    margin: 40px;
    max-width: 40%;
}

.home-img img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    object-position: right;
}


.about-div {
    border: solid red;
    width: calc(100% - 40px);
    padding: 20px;
    color: #364E66;
}

h2 {
    font-size: 50px;
    background-color: #B0CBE6;
    width: 25%;
    text-align: center;
    padding: 5px 0px;
    color: #364E66;
}

.about-fin {
    min-height: 100vh;
}

.about-dev {
    min-height: 100vh;
}

.projects-div {
    min-height: 100vh;
    width: calc(100% - 40px);
    padding: 20px;
}

.projects {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.projects div {
    margin: 10px;
    padding: 5px;
    width: 30%;
    height: 10%;
    background-color: #16283C;
    flex-direction: column;
    align-content: center;
    color: #B1CBE6;
}

.projects div img {
    width: 100%;
    max-height: 60%;
    object-fit: cover;
    aspect-ratio: 4 / 3;
}

.projects div h3 {
    padding-left: 2.5%;
}

.app-links {
    min-width: 90%;
    display: flex;
    justify-content: space-around;
}

.app-links a {
    background-color:#B1CBE6;
    margin: 5px;
    text-decoration: none;
    color: #364E66;
    text-align: center;
    padding: 4px;
}

.app-links a:hover {
    color: white;
}

.contact-div {
    width: calc(100% - 40px);
    padding: 20px;
}

.in-view {
    animation: fade 1s 0.1s both;
}

.not-in-view {
    opacity: 0;
}